<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo Reactjs Chat Application</title>
    <script crossorigin src="react.production.min.js"></script>
    <script crossorigin src="react-dom.production.min.js"></script>
    <script src="browser.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">
      ReactDOM.render(<h1> Iris Pham </h1> , document.getElementById("root"));
    </script>
  </body>
</html>
